* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

:root {
  --primary: hsl(160deg, 100%, 30%);
  --secondary-light: hsl(45deg, 100%, 50%);
  --secondary-dark: hsl(45deg, 100%, 40%);

  --gray-0: hsl(0deg, 0%, 0%);
  --gray-10: hsl(0deg, 0%, 10%);
  --gray-30:hsl(0deg, 0%, 30%);
  --gray-40:hsl(0deg, 0%, 40%);
  --gray-60:hsl(0deg, 0%, 60%);
  --gray-100:hsl(0deg, 0%, 100%);

  --m: 1rem;
  --l: 1.25rem;
  --xl: 1.5rem;
  --xxl: 2rem;

  font-family: Lato, sans-serif;

}

strong {
  color: var(--primary)
}

header {
  background-color: var(--gray-100);
  border-bottom: 8px solid;
  border-color: var(--gray-60);
  
}

main {
  background-color: var(--gray-40);
  padding-block: 64px;
}

.max-width-wrapper {
  max-width: 600px;
  padding-inline: 16px;
  
  margin-inline: auto;
}

.card {
  padding-block: 2px;
  
}

main .max-width-wrapper {
  background-color: var(--gray-100);
  border-bottom: 8px solid;
  border-color: var(--gray-60);
  
}

.intro-chunk {
  max-width: 330px;
  padding: 24px;
}

.title {
  font-size: var(--xxl);
}


.card p {
  padding-inline: 24px;
}

.indented-heading {
  margin-inline-start: -32px;
  padding: 16px 56px;
  background-color: var(--secondary-light);
  border-bottom: 8px solid;
  border-color: var(--secondary-dark);
}